*,
*::after,
*::before {
  box-sizing: border-box;
}
:root {
  font-family: "League Spartan", sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.layout {
  height: 100vh;
  width: 100vw;
}
.header {
  background-color: #caccc8;
  height: 10vh;
  padding: 0.5rem;
}
.section-body {
  display: flex;
  flex-wrap: wrap;
}
.footer {
  background-color: #caccc8;
  height: 10vh;
  padding: 0.5rem;
}
.section-a {
  background-color: yellowgreen;
  padding: 0.5rem;
}
.section-b {
  background-color: green;
  padding: 0.5rem;
}
.section-c {
  background-color: yellow;
  padding: 0.5rem;
}
@media screen and (min-width: 768px) {
  .section-body {
    height: 73vh;
  }
  .header {
    height: 12vh;
    margin-bottom: 1.5vh;
  }
  .footer {
    height: 12vh;
    margin-top: 1.5vh;
  }
  .section-a {
    width: 60%;
    height: 100%;
  }
  .section-b {
    height: 100%;
    width: 20%;
    order: -1;
  }
  .section-c {
    width: 20%;
    height: 100%;
  }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  .layout {
    font-size: 1.5rem;
  }
  .section-body {
    height: 75vh;
  }
  .header {
    margin-bottom: 2.5vh;
  }
  .footer {
    margin-top: 2.5vh;
  }

  .section-a {
    width: 100%;
    height: 60%;
  }
  .section-b {
    height: 40%;
    width: 50%;
    order: 0;
  }
  .section-c {
    width: 50%;
    height: 40%;
  }
}

@media screen and (max-width: 575px) {
  .layout {
    font-size: 1.5rem;
  }
  .section-body {
    height: 73vh;
  }
  .header {
    margin-bottom: 3.5vh;
  }
  .footer {
    margin-top: 3.5vh;
  }
  .section-a {
    width: 100%;
    height: 50%;
  }
  .section-b {
    height: 25%;
    width: 100%;
    order: 0;
  }
  .section-c {
    width: 100%;
    height: 25%;
  }
}
